        #loading {
            text-align: center;
            display: none;
            padding-top: 270px;
            margin-top: 270px;
            margin-bottom: 200px;
            width: 285px;
            height: 200px;
            margin-left: 39%;
            position: absolute;
            top: 15%;
            left: 2%;
        }
       
          p {
            line-height: 10px;
        }

        #advancedfilterpanel {
            width: 100%;
            float: left;
            display: none;
        }

        .filterbutton {
            margin-left: 15px;
            top: 10px;
            position: relative;
        }



        /*calendar*/
        .rsAptDelete {
            display: none;
        }

        .RadScheduler .rsRequested .rsAptContent {
            background: #005991;
            border-color: #005991;
        }

        .RadScheduler .rsScheduled .rsAptContent {
            background: #fe9a00;
            border-color: #fe9a00;
        }

        .RadScheduler .rsBooked .rsAptContent {
            background: #669934;
            border-color: #669934;
        }

        .RadScheduler .rsCancelled .rsAptContent {
            background: #c9302b;
            border-color: #c9302b;
        }

        .RadScheduler .rsToplined .rsAptContent {
            background: #790091;
            border-color: #790091;
        }

        .RadScheduler .rsApproved .rsAptContent {
            background: #3398cc;
            border-color: #3398cc;
        }


        /*map tooltip*/
        .RadMap_Bootstrap.k-widget.k-tooltip {
            text-align: left;
            background-color: #ffffff !important;
            color: #000 !important;
        }

        .booked {
            color: #669934;
        }