<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'EventManagerApplication' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'EventManagerApplication' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'EventManagerApplication' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'EventManagerApplication' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'EventManagerApplication' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'EventManagerApplication' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>eac16bd9-3810-4082-92a5-8dd297be4baf</InstrumentationKey>
</ApplicationInsights>