<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UpdateWeatherConsole.My.MySettings.EventManagerDataConnectionString" connectionString="Data Source=gigengyn.database.windows.net,1433;Initial Catalog=EventManagerData;Persist Security Info=True;User ID=chief;Password=Ch3ri0$@" providerName="System.Data.SqlClient"/>
        <add name="UpdateWeatherConsole.My.MySettings.EventManagerData_01ConnectionString" connectionString="Data Source=gigengyn.database.windows.net,1433;Initial Catalog=EventManagerData;Persist Security Info=True;User ID=chief;Password=Ch3ri0$@" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
